<a href="https://colab.research.google.com/github/zirzirlove96/AI_Project/blob/main/AI_Project_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
ts(1:10, frequency=4, start=c(2021,2))

     Qtr1 Qtr2 Qtr3 Qtr4
2021       1    2    3
2022  4    5    6    7
2023  8    9   10

ts : 데이터 전처리 (데이터 분석을 위해 수집한 데이터를 분석에 적합한 형태로 가공하는 과정)

ts(1:10) : 1 ~ 10까지

ts(frequency=4) : 4분기로 나눈 자료

ts(start=c(2021,2)) : 시작이 2021년 2분기 시작

In [7]:
dd<-matrix(c(1342, 1442, 1252, 1343,
                1425, 1362, 1256, 1272,
	              1243, 1359, 1412, 1253,
                1201, 1478, 1322, 1406,
                1254, 1289, 1497, 1208))

dd.ts <- ts(data=dd, start = c(2016,1), frequency=4)
dd.ts

     Qtr1 Qtr2 Qtr3 Qtr4
2016 1342 1442 1252 1343
2017 1425 1362 1256 1272
2018 1243 1359 1412 1253
2019 1201 1478 1322 1406
2020 1254 1289 1497 1208

matrix : 행렬

data에 dd를 담아서 전처리하는 과정이다.